In [1]:
# Find the min and max values for each column
def dataset_minmax(dataset):
    minmax = list()
    for i in range(len(dataset[0])):
        col_values = [row[i] for row in dataset]
        value_min = min(col_values)
        value_max = max(col_values)
        minmax.append([value_min, value_max])
    return minmax

# Rescale dataset columns to the range 0-1
def normalize_dataset(dataset, minmax):
    for row in dataset:
        for i in range(len(row)):
            row[i] = (row[i] - minmax[i][0]) / (minmax[i][1] - minmax[i][0])

# Contrive small dataset
dataset = [[50, 30], [20, 90]]
print(dataset)
# Calculate min and max for each column
minmax = dataset_minmax(dataset)
print(minmax)
# Normalize columns
normalize_dataset(dataset, minmax)
print(dataset)

[[50, 30], [20, 90]]
[[20, 50], [30, 90]]
[[1.0, 0.0], [0.0, 1.0]]

In [4]:
# Find the min and max values for each column
def dataset_minmax(dataset_2):
    minmax = list()
    for i in range(len(dataset_2[0])):
        col_values = [row[i] for row in dataset_2]
        value_min = min(col_values)
        value_max = max(col_values)
        minmax.append([value_min, value_max])
    return minmax

# Rescale dataset columns to the range 0-1
def normalize_dataset(dataset_2, minmax):
    for row in dataset_2:
        for i in range(len(row)):
            row[i] = (row[i] - minmax[i][0]) / (minmax[i][1] - minmax[i][0])

# Contrive small dataset
dataset_2 = 'Absenteeism_at_work.csv'
print(dataset_2)
# Calculate min and max for each column
minmax = dataset_minmax(dataset_2)
print(minmax)
# Normalize columns
normalize_dataset(dataset_2, minmax)
print(dataset_2)

Absenteeism_at_work.csv
[['.', 'w']]

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [6]:
import pandas as pd
dataset_2 = pd.read_csv('Absenteeism_at_work.csv')
dataset_2.head()

,ID,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,Hit target,Disciplinary failure,Education,Body mass index,Absenteeism time in hours
0,11,26,7,3,1,289,36,13,33,239.554,97,0,1,30,4
1,36,0,7,3,1,118,13,18,50,239.554,97,1,1,31,0
2,3,23,7,4,1,179,51,18,38,239.554,97,0,1,31,2
3,7,7,7,5,1,279,5,14,39,239.554,97,0,1,24,4
4,11,23,7,5,1,289,36,13,33,239.554,97,0,1,30,2